body {
  background: linear-gradient(
    315deg,
    hsla(55, 89%, 55%, 1) 0%,
    hsla(55, 89%, 55%, 0.4) 1%,
    hsla(55, 89%, 55%, 0.3) 10%
  );
}

.nav-bar {
  background-image: url("https://images.pexels.com/photos/1764338/pexels-photo-1764338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #f8e33a;
}

#name {
  font-family: "Bebas Neue", cursive;
  font-weight: 500;
  margin: -15px 0px 0px 25px;
  letter-spacing: 0.15rem;
  font-size: 2.5rem;
  color: #343a40;
}
#slogan {
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.65rem;
  margin: -5px 0px 0px 25px;
  color: #343a40;
  font-weight: 500;
}

.ui.container {
  margin-top: 35px;
}
.ui.segment {
  background-color: #3c6e71;
}

.ui.segment {
  background: linear-gradient(
    270deg,
    hsla(55, 89%, 55%, 1) 0%,
    hsla(55, 89%, 55%, 0.7) 2%,
    hsla(55, 89%, 55%, 0.3) 98%
  );
  border: 1px solid #f8e33a;
}

h4 {
  font-family: "Bebas Neue", cursive;
  color: #343a40;
  letter-spacing: 1.2px;
  font-size: 1.5rem;
}

.movie-search-result {
  font-family: "Hammersmith One", sans-serif;
  color: #343a40;
}

.movie-item.item img {
  width: 60.81px;
  height: 89.99px;
}
.tiny.ui.button {
  color: #fff;
  background-color: #343a40;
  letter-spacing: 1.2px;
}

.tiny.ui.button:hover {
  background-color: #3c6e71;
}
.nomination-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
