.movie-item.item img {
  width: 60.81px;
  height: 89.99px;
}

.nav-bar {
  background-image: url("https://images.unsplash.com/photo-1512149074996-e923ac45be6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHBvcGNvcm58ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
  /* linear-gradient(141deg, #d80032 0%, #e9c46a 71%); */
  height: 120px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  color: #ffe66d;
}

.title .icon {
  margin-left: 15px;
}

.nomination-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
